body {
  background-color: steelblue;
}

th, td {
  text-align: center;
  color: white;
  border: solid 2px white;
}

table {
 margin-top: 10px;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
 border: solid 2px white;
}


.container {
  text-align: center;
}

.remove {
  margin-top: 7px;
}
